body,
html {
    width: 100%;
    height: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

/*Official ScitoVation Colors*/
/*Blue: #00457d                     // newBlue #205C8D
Orange: #db6e00
Grey: #666666
*/

/*sets padding for fluidContainer class used throughout sites main content*/
#fluidContainer {
  padding-bottom: 20px;
  padding-right: 25px;
  padding-left: 25px;
}

/*////////////////////////////////////////////////////[START] - NAVIGATION BAR*/
.topnav {
  /*background-color: steelblue;*/
  background-color: #205C8D;
  font-size: 11px;
  line-spacing: 2px;
  height: 65px; /*hardcoded height must be changed in hoverColor class as well*/
}

.topnavLogo .navbar-brand {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*.topnavLogo .navbar-brand>img {
  padding: 2px 4px;
}
/*.topnav img {
  height: auto;
  height: 55px;
}*/
/*
.navbar-brand {
  padding: 0px;
  width: 280px;
}
.navbar-brand>img {
  height: 60px;
  width: 150px;
  padding: 15px;
  margin-top: -10px;
}
/*.mainSciNav .navbar-brand {
  height: 80px;
}
.mainSciNav .nav >li >a {
  padding-top: 30px;
  padding-bottom: 30px;
}
.mainSciNav .navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}*/

.glyphicon {
  font-size: 14px;
  margin-top: 6px;
  margin-bottom: 3px;
  padding: 5px;
  color: #db6e00;
  display: block;
  text-align: center;
}

/*// NAVBAR - Text Font*/
#sciNavbar > li > a {
  padding-top: 1px;
  /*color: silver;*/
  color: whitesmoke;
  font-size: 12px;
}

#sciNavbar > li:hover {
  transition: 4.5s
  padding-top: 2px;
  color: black;
}

.hoverColor {
  transition: 4s;
  height: 65px;
}

.hoverColor:hover {
/*  border-right: 3px dotted gainsboro;*/
  background-color: lightslategrey;
  color: blue;
  height: 65px;
}

/*//////////////////////////////////////////////////////[END] - NAVIGATION BAR*/


/*//////////////////////////////////////////////[START] - WHAT WE DO - Landing*/
/*fills the landing img to the size of the div*/
.fillImgWhat {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fillImgWhat img {
    flex-shrink: 0;
    /*min-width: 100%;
    min-height: 100%*/
    max-width: 1200px;
    max-height: 300px;
}
/*////////////////////////////////////////////////[END] - WHAT WE DO - Landing*/
.panel-default .iconPanel {
  background-color: gainsboro;
}

.iconBackground {
  color: steelblue;
}

.iconImage {
  color: darkorange;
}

/*////////////////////////////////////////////////[START] - ABOUT US - Landing*/
/*fills the landing img to the size of the div*/
.fillImgAbout {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}
.fillImgAbout img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}
/*//////////////////////////////////////////////////[END] - ABOUT US - Landing*/


/*//////////////////////////////////[START] - BREADCRUMB - banner below navbar*/
#breadcrumbBanner {
  background-color: lightslategrey;
}

#breadcrumbBanner a {
  color: whitesmoke;
}

#breadcrumbBanner > li {
  color: silver;
}
/*////////////////////////////////////[END] - BREADCRUMB - banner below navbar*/


/*///////////////////////////////////[START] - SIDEBAR - Clients and Customers*/
/*#clientSidebarList {
  margin-top: 20px;
  font-size: 14px;
  height: auto;
  border: 2px solid black;
}*/

/*styles the font and background for static and active*/
/*#clientSidebarList > .list-group-item {
  background-color: slategray;
  color: gainsboro;
  padding-right: 20px;
}*/

/*#clientSidebarList > .list-group-item:hover {
  transition: 3s;
  color: gainsboro;
}*/

/*//////////////////////////////////////////////////////////[START] - RESEARCH*/
#teamListGroup {
  font-size: 12px;
}

#teamYearGroup {
  font-size: 12px;
}


/*////////////////////////////////////////////////////////////[END] - RESEARCH*/


/*styles the home/active of whatever page is landed on*/
#clientSidebarHome.list-group-item {
  color: black;
}

.hoverSideColor {
  transition: 2.5s;
  height: auto;
  border-top: 1px solid transparent;
  border-bottom: 2px solid transparent;
}

.hoverSideColor:hover {
  border-top: 1px solid darkorange;
  border-bottom: 2px solid darkorange;
}
/*///////////////////////////////////////[END] - SIDEBAR Clients and Customers*/


/*/////////////////////////////////////////////////[START] - CONTACT Page/////*/
/*styles the social media buttons and their size*/
#socialBtnGroup {
  width: 300px;
}
/*///////////////////////////////////////////////////[END] - CONTACT Page/////*/


/*////////////////////////////////////////////////////[START] - FOOTER SECTION*/
footer {
    padding: 40px 0;
    font-size: 14px;
    background: #205C8D;
    color: #db6e00;
}

footer a {
  color: black;
}

/*for footer copyright*/
p.copyright {
    margin: 15px 0 0;
    font-weight: 400;
    color: darkorange;
}
/*//////////////////////////////////////////////////////[END] - FOOTER SECTION*/

.carouselImg {
  width: 100%;
  max-height: 500px;
}
