{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 ><a href="{% url 'admin:index' %}">ScitoVation Publications</a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}
