<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Password reset initiated</h3>
      </div>
       <div class="row">
       <!-- Display the success message on successful submission and validation
            of the contact form data.
        -->
       <div class="alert alert-success">
         Password reset complete. <a href="{% url 'admin:login' %}">login?</a>
       </div>
       </div>
    </div>
  </body>
</html>

