a {
    color: #00457d;
    text-decoration: none;
}

li a.callout_text {
    color: #CC0000;
    text-decoration: none;
}

#sidebar li {
	margin: 0 0 2px 0;
}

#sidebar a {
    text-decoration: none;
    color: black;
}

#sidebar a.clear {
    color: #00457d;
    font-size: 80%;
    text-align:right;
    display: block;
	margin: 2px 0 16px 0;
}

li.alternating{
	padding: 6px;
}
li.alternating:nth-child(odd) { 
	background: #ffeecc; 
}

ul {
	list-style: none;
	padding-left: 0;
    margin: 0;
}

#sidebar ul {
    height: 400px;
    overflow: auto;
    border:1px solid #dddddd;
    padding: 3px;
}

#sidebar ul.short {
    height: 200px;
}



h1 {
    color: #00457d;
    }


body,
html {
    margin:0;
    padding:0;
    color:#000;
}

#main {
width:1000px;
margin:0 auto;
}

#content {
float:right;
width:780px;
padding:10px;
}

#sidebar {
float:left;
width:180;
padding:10px;
}


#sidebar input {
    width:180px;
    border:1px solid #dddddd;
    padding:3px;
}

form {
    margin:0px;
}


#search_summary {
    margin-bottom: 16px;
}


#pagination  {
    text-align:right;
}

