Add by PMID (e.g., 27592001):<form action="{% url 'papers:submit-pmid' %}" method="get" >
    <input type="text" name="q" id="id_q" placeholder="<PMID>"/>
    <input type="submit" value="Search"
    style="position: absolute; left: -9999px; width: 1px; height: 1px;"
       tabindex="-1" />
</form>


<a href="{% url 'admin:papers_paper_add' %}">Add manually</a>
