<form action="{% url 'papers:submit-pmid' %}" method="get" >
    <input type="text" name="q" id="id_q" placeholder="<PMID>"/>
    <input type="submit" value="Search"
    style="position: absolute; left: -9999px; width: 1px; height: 1px;"
       tabindex="-1" />
</form>
