<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
{% load add_get_parameter %} 
{% load humanize %} 
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>ScitoVation</title>
    <!-- Bootstrap Core CSS -->
    <link href="{% static 'papers/css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'papers/css/landing-page.css' %}" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="{% static 'papers/css/style.css' %}" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="{% static 'papers/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body data-spy="scroll" data-target="#teamYearGroup" data-offset="20">

  <!-- Navigation -->
  <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container-fluid topnav">
          <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand topnavLogo" href="http://scitovation.com">
                <img style="width: 140px; height: auto; margin-top: -8px; margin-left: 5px; padding-left: -35px;" src="{% static 'papers/img/scitovation_logo_medium_res.png' %}" alt="ScitoVation">
                <!--<img src="img/scitovation-small.png">-->
              </a>
          </div>
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right" id="sciNavbar">
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
                      <a href="about.html">About Us</a>
                  </li>
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                      <a href="whatwedo.html">What We Do</a>
                  </li>
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                      <a href="whoWeServe.html">Who We Serve</a>
                  </li>
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                      <a href="careers.html">Careers</a>
                  </li>
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                      <a href="research.html">Research</a>
                  </li>
                  <li class="hoverColor">
                      <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                      <a href="contact.html">Contact Us</a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>
  <br /><br /><br /> <!--NEED TO DO MARGIN/PADDING INSTEAD-->
  <!-- End Navigation -->


<!-- ========================================================================== --!>
<!-- AUTHOR --!>
<ul>
{% for author in featured_authors %}
    <li>
        {% if author.slug == current_query.investigator %}
            <strong><a href="{% url 'papers:index' %}{% add_get investigator='' page=1%}">{{ author.name }}</a></strong>
        {% else %}
            <a href="{% url 'papers:index' %}{% add_get investigator=author.slug page=1%}">{{ author.name }}</a>
        {% endif %}
    </li>
{% endfor %}
</ul>
{% if current_query.investigator %}
<a class="clear" href="{% url 'papers:index' %}{% add_get investigator='' %}">clear author filter</a>
{% else %}
<a class="clear"><br></a>
{% endif %}




<!-- ========================================================================== -->
<!-- CONTENT -->
{% block content %}
  <div class="container" id="fluidContainer">
      <!-- Page Heading -->
      <div class="row">
          <div class="col-lg-12">
              <h1 class="page-header">Research and Publications
                  <small></small>
              </h1>
              <ol class="breadcrumb" id="breadcrumbBanner">
                  <li><a href="index.html">Home</a>
                  </li>
                  <li class="active">Research</li>
              </ol>
          </div>
      </div>

      <!-- Content Row -->
            <div class="row">
              <div class="col-lg-3">
                  <div class="list-group" id="teamListGroup">

                        <!-- ========================================================================== -->
                        <!-- AUTHOR -->
                        {% for author in hamner_authors %}
                                {% if author.slug == current_query.investigator %}
                                    <strong><a class="list-group-item" href="{% url 'papers:index' %}{% add_get investigator='' page=1%}">{{ author.name }}</a></strong>
                                {% else %}
                                    <a class="list-group-item" href="{% url 'papers:index' %}{% add_get investigator=author.slug page=1%}">{{ author.name }}</a>
                                {% endif %}
                        {% endfor %}
                        {% if current_query.investigator %}
                        <a class="clear" href="{% url 'papers:index' %}{% add_get investigator='' %}">clear author filter</a>
                        {% else %}
                        <a class="clear"><br></a>
                        {% endif %}
                  </div>
                  <hr>
                </div>
                <div class="col-lg-7">
                    <div class="panel-group" id="accordion">
                        {% for paper in paper_list %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ forloop.counter }}">
                                        {{ paper.title }} 
                                    </a>
                                </h4>
                            </div>
                            <div id="collapse{{ forloop.counter }}" class="panel-collapse collapse">
                                <div class="panel-body">
                                  <li class="alternating">
                                        {% for author in paper.author_set.all %}
                                            {% if not forloop.last %}
                                                <a href="{% url 'papers:index' %}?investigator={{author.slug}}">{{ author.initials }} {{ author.surname }}</a>,
                                            {% else %}
                                                {% if paper.author_set.all|length > 1 %}
                                                    and 
                                                {% endif %}
                                                <a href="{% url 'papers:index' %}?investigator={{author.slug}}">{{ author.initials }} {{ author.surname }}</a>.
                                            {% endif %}
                                        {% endfor %}
    {{ paper.title }} 
    <i>{{ paper.journal_abbreviation }}</i> 
    <b>{{ paper.volume }}</b>
    {% if paper.issue %}
        ({{ paper.issue }})
    {% endif %}

    {% if paper.start_page %}: {{ paper.start_page }}
        {% if paper.end_page%}
            -{{ paper.end_page}}
        {% endif %}
    {% endif %}

    ({{ paper.pub_date|date:"M j, Y"}}).
    [<a href="{% url 'papers:detail' slug=paper.slug %}">abstract</a>]
    {% if paper.pmid %}
        [<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ paper.pmid }}">pubmed</a>]
    {% endif %}
    {% if show_abstract %}
    	<p> {{ paper.abstract }} </p>
    {% endif %}
                                  </li>
                            </div>
                        </div>
                            </div>
                        {% endfor %}

<!-- ========================================================================== -->
<!-- PAGINATION -->
<div id="pagination">
{% if page_obj.has_previous %}
    <a  href="{% url 'papers:index' %}{% add_get page=page_obj.previous_page_number %}">previous</a>
{% endif %}
{% if page_obj.has_next %}
    <a  href="{% url 'papers:index' %}{% add_get page=page_obj.next_page_number %}">next</a>
{% endif %}
</div>

                       
                      </div>
                  </div>
                </div>
            </div>
            <hr>


{% endblock %}


            <!-- Footer -->
            <footer id="mainFooter">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <ul class="list-inline">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="about.html">About Us</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="whatWeDo.html">What We Do</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="whoWeServe.html">Who We Serve</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="careers.html">Careers</a>
                                </li>
                                <li>
                                    <a href="research.html">Research</a>
                                </li>
                                <li class="footer-menu-divider">&sdot;</li>
                                <li>
                                    <a href="contact.html">Contact Us</a>
                                </li>
                            </ul>
                            <p class="copyright text-muted small">Copyright &copy; ScitoVation. All Rights Reserved</p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->


            <!-- jQuery -->
            <script src="{% static 'papers/js/jquery.js' %}"></script>
            <!-- Bootstrap Core JavaScript -->
            <script src="{% static 'papers/js/bootstrap.min.js' %}"></script>

            <script scr="research.html">
              $('body').scrollspy({ target: '#teamListGroup' });

              $('[data-spy="scroll"]').each(function () {
                var $spy = $(this).scrollspy('refresh')
              })
            </script>


            </body>
            </html>
