{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'papers/style.css' %}" />
<head>
    <title>ScitoVation bibliography</title>
</head>

<div id="main">
    {% block banner %}
    {% endblock %}

    {% block navigation%}
    {% endblock %}
    
    {% block title %}
    {% endblock %}

    <div id="sidebar">
    {% block sidebar %}
    {% endblock %}
    </div>


    <div id="content">
    {% block content %}
    {% endblock %}
    </div>

    {% block postdata %}
    {% endblock %}
</div>


